<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="nexoscreator" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>
